<p>This is <a href="http://www.sinatrarb.com/">Sinatra app</a> made for practice, using <a href="http://openweathermap.org/current"> this API</a>.</p>
<p>Source code can be found <a href="http://google.com">here</a>.</p>
<p id="new"><a href="/new">New Forecast</a></p>
